
div#col-lateral-direita{
  //  background-color: ;
}

div#col-lateral-direita img#foto-perfil{
    margin-top: 10px; 
}

body div#barra-superior h4#titulo-pagina{
   
    font-family: 'Lobster', cursive;
    font-size: 15pt;
    margin-left: 580px;
    margin-top: 0px;
    padding-top: 10px;
}

body div#barra-superior li#botao-sair{
    background-color: #286090;
}

body button#log-out{
    top: 0px;
}

div#rodape{
    text-align: center;
    margin: 40px auto 40px auto;
}

button#menu-sair{
    border-color: #ffffff;
    margin-left: 230px;
}